@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --purple-color: #924ee9;
  --text-color: #393939;
  --light-grey: #464545;
  --header-text-color: #2c2c2c;
  --header-text-color-small: #6d6d6d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  font-size: 14px;
}
#container {
  position: relative;
  height: 100vh;
  width: 100%;
}
header nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100px;
  background: #ffffff;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 122px;
}

nav ul li {
  display: inline-block;
  padding-left: 1.4rem;
}

nav ul li a {
  text-decoration: none;
  transition: 0.4s;
  font: 500 12px/24px;
  /* font-size: ; */
  color: var(--text-color);
}
nav ul li a.active {
  color: var(--purple-color);
  border-bottom: 1.6px solid var(--purple-color);
}

nav ul li .signup {
  position: relative;
  top: 0;
  right: 0;
  font-weight: 600;
  padding: 1rem 2.5rem;
  font-size: 14px;
  color: white;
  margin: 0 20px;
  background: var(--purple-color);
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.03);
  border-radius: 12px;
}
nav ul li a:hover {
  opacity: 0.7;
}
.hero-container {
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 83%;
  width: auto;
}
.hero-container .hero-content {
  display: flex;
  flex-basis: 45% 55%;
  justify-content: space-between;
  margin: 140px 120px;
}

.hero-content > .header-img {
}
.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-text h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  width: 466px;
  color: var(--header-text-color);
  margin-bottom: 12px;
}
.header-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--header-text-color-small);
  margin-bottom: 24px;
}
.header-text a {
  text-decoration: none;
  color: #ffff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  background: var(--purple-color);
  max-width: 240px;
  width: auto;
  padding: 17px 40px;
  border-radius: 12px;
  transition: ease 0.4s;
}
.header-text a:hover {
  opacity: 0.85;
}

.header-img img {
  /* border: 1px solid black; */
  min-width: 50%;
  width: 676px;
}
/* 
.content {
  width: 100%;
  min-height: 70vh;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 129px;
}
.content .text-box {
  font-size: 3.2rem;
  line-height: 94px;
  width: 40%;
}
.content .text-box h2 {
  font-weight: 200;
}
.content .text-box h2 span {
  font-weight: 700;
}
.content .img-box {
  position: absolute;
  height: 400px;
  right: 0;
  height: 100%;
  top: 60px;
} */
/* AUTH STYLING */

/* END OF AUTH STYLING */

@media screen and (max-width: 1000px) {
  .navigation {
    display: none;
  }

  .navigation.active {
    align-items: center;
    margin-left: -20px;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.03);
    padding: 40px;
    background: #fff;
    width: 80%;
    top: 120px;
    position: absolute;
    display: flex;
    flex-direction: column;
  }
  .navigation > * {
    padding: 12px 0px;
  }
  nav ul li .signup {
    top: 12px;
  }

  .auth-content {
    margin: 0px 20px;
  }
  .auth-content h2 {
    font-size: 30px;
  }
  .auth-content h2 span {
    font-size: 0.5rem;
  }
}
